{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pessoas</title>
    <link rel="stylesheet" href="{% static 'contatos/css/styles.css' %}">
    {% include 'contatos/header.html' %}
</head>
<body>
    {% include 'contatos/links.html' %}
    <h1>Lista de Pessoas</h1>
    <table border="0" class="m-1">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>Telefone</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for pessoa in pessoas %}
            <tr>
                <td>{{ pessoa.nome }}</td>
                <td>{{ pessoa.email }}</td>
                <td>{{ pessoa.telefone }}</td>
                <td><a href="{% url 'contatos:atualiza' pk=pessoa.id %}" class="btn btn-info">Editar</a> 
                    / Excluir</td>
            </tr>
            {% empty %}
                <tr>
                    <td colspan="4">Nenhuma pessoa encontrada.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>